<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Vaccine</title>
</head>
<body>

	<form action="assignvaccine" method="post">
		<table border="1">
			<tr>
				<th>This is the vm page Patient Id:</th>
				<td align="center">$patientid<input type="hidden" name="patientid" value="$patientid" /></td>
				
			</tr>
			<tr>
				<th>Hospital:</th>
				<td align="center">$username</td>
			</tr>
		</table>
		<table border="1">
                    <tr>
                        <th>Inventory id</th>
                        <th>Vaccine id</th>
                        <th>Vaccine name</th>
                        <th>Quantity</th>
                        <th>User</th>
                        <th>Assign Vaccine</th>
                    </tr>
                    #foreach($inventory in $inventoryList)
                    <tr>
                        <td align="center">$inventory.id</td>
                        <td align="center">$inventory.vaccineid</td>
                        <td align="center">$inventory.vaccinename</td>
                        <td align="center">$inventory.quantity</td>
                        <td align="center">$inventory.user</td><br>
                        <td align="center"><input type="checkbox" name="assignvaccine" value="$inventory.id" /></td><br>
                    </tr>
                    #end
                </table>
		<input type="submit" name="submit" value="Assign Vaccine" />
	</form>
</body>
</html>